{% extends 'posts/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Create a Post</h1>
            <br/>

            {% if submitted %}
                <div class="alert alert-success" role="alert">
                    Post was created successfully!
                </div>
                <a href="{% url 'show-community' post_type.community.id %}" class="btn btn-primary">Go back to Community</a>
            {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'create-post' %}?community_id={{ post_type.community.id }}" class="btn btn-secondary">Reselect Post Type</a>
                    <a href="{% url 'show-community' post_type.community.id %}" class="btn btn-secondary">Cancel</a>
                </form>
            {% endif %}
        </div>
    {% else %}
        <div class="container">
            <h1>You must login to view this page!</h1>
            <p>Login <a href="{% url 'login-user' %}">here</a></p>
        </div>
    {% endif %}
{% endblock %}
