{% extends 'posts/base.html' %}

{% block content %}

    <h2>Owned Communities</h2>
    <table class="table table-striped table-hover table-bordered">
        {% for community in owned_communities %}
            <tr>
                <td>
                    <a href="{% url 'show-community' community.id %}">{{ community }}</a>
                </td>
                {% if user.is_authenticated %}
                    <td align="right">
                        <a href="{% url 'modify-community' community.id %}" class="btn btn-outline-success btn-sm">Update</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <h2>Moderating Communities</h2>
    <table class="table table-striped table-hover table-bordered">
        {% for community in moderated_communities %}
            <tr>
                <td>
                    <a href="{% url 'show-community' community.id %}">{{ community }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Member Communities</h2>
    <table class="table table-striped table-hover table-bordered">
        {% for community in joined_communities %}
            <tr>
                <td>
                    <a href="{% url 'show-community' community.id %}">{{ community }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
