{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
    <div style="text-align: right; display: flex; justify-content: flex-end; align-items: center;">
        {% if user.is_authenticated %}
            {% if user in community.members.all %}
                {% if user.id == community.owner_id %}
                    <a href="{% url 'transfer-ownership' community.id %}" class="btn btn-warning" style="margin-right: 15px;">Transfer Ownership and Leave</a>
                    <a href="{% url 'add-moderator' community.id %}" class="btn btn-info" style="margin-right: 15px;">Add Moderator</a>
                {% endif %}
                {% if user.id == community.owner_id or user in community.moderators.all %}
                    <a href="{% url 'community-members' community.id %}" class="btn btn-info" style="margin-right: 15px;">View Members</a>
                {% endif %}
                {% if user.id != community.owner_id %}
                    <form action="{% url 'leave-community' community.id %}" method="post" style="margin-right: 15px;">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Leave Community</button>
                    </form>
                {% endif %}
                <a href="{% url 'create-post-form' %}?community_id={{ community.id }}" class="btn btn-success" style="margin-right: 10px;">Create Post</a>
                {% if user.id == community.owner_id or user in community.moderators.all %}
                    <a href="{% url 'add-post-type' community.id %}" class="btn btn-success" style="margin-right: 10px;">Create a Post Type</a>
                {% endif %}
                {% if user in community.moderators.all %}
                    <form action="{% url 'resign-moderator' community.id %}" method="post" style="margin-right: 15px;">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Resign Moderator</button>
                    </form>
                {% endif %}
            {% else %}
                <form action="{% url 'join-community' community.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Join Community</button>
                </form>
            {% endif %}
        {% else %}
            <a href="{% url 'login-user' %}?next={% url 'join-community' community.id %}" class="btn btn-success">Join Community</a>
        {% endif %}
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            <strong> Community Info </strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ community }}</h5>
            <ul>
                <li>Public: {{ community.is_public }}</li>
                <li>Description: {{ community.description }}</li>
                <li>Posts: {{ posts_count }}</li>
                <li>Owner: {{ community.owner_username }}</li>
                <li>Moderators: 
                    <ul>
                        {% for moderator in community.moderators.all %}
                            <li>{{ moderator.username }} {% if user.id == community.owner_id %} <a href="{% url 'remove-moderator' community.id moderator.id %}">Remove</a> {% endif %}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>Members: {{ community.members.all.count }}</li>
                <li>Creation Time: {{ community.creation_date|date:"d.m.Y H:i" }}</li>
                <li>Last Post Date: {{ last_post_date|date:"d.m.Y H:i" }}</li>
            </ul>
        </div>
    </div>
    <br/><br/>
    {% if not user.is_authenticated or user not in community.members.all %}
        {% if most_liked_post %}
            <h2>Most Liked Post of {{ community }}</h2>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong class="h4">{{ most_liked_post.name }}</strong>
                        </div>
                        <div class="text-right">
                            <small>
                                Posted by: {{ most_liked_post.posted_by }}<br/>
                                Post Date: {{ most_liked_post.posting_date|date:"d.m.Y H:i" }}<br/>
                                {% if most_liked_post.post_type %}
                                    Post Type: {{ most_liked_post.post_type.post_type_name }}
                                {% else %}
                                    Post Type: None
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Description:</strong>
                            <p>{{ most_liked_post.description }}</p>
                            <ul>
                                {% for field_name, field_value in most_liked_post.custom_fields.items %}
                                    {% if field_name != 'picture' %}
                                        <li><strong>{{ field_name }}:</strong> {{ field_value }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% if most_liked_post.custom_fields.picture %}
                            <div class="col-md-6">
                                <img src="{% get_media_prefix %}{{ most_liked_post.custom_fields.picture }}" alt="Picture" class="img-thumbnail" />
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <form action="{% url 'like_post' most_liked_post.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">{{ most_liked_post.total_likes }} Like</button>
                        </form>
                        <form action="{% url 'dislike_post' most_liked_post.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">{{ most_liked_post.total_dislikes }} Dislike</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and user in community.members.all %}
        <div class="mb-3">
            <label for="sort-posts" class="form-label">Sort posts by:</label>
            <select id="sort-posts" class="form-select" onchange="location = this.value;">
                <option value="{% url 'show-community' community.id %}?sort=date" {% if sort == 'date' %}selected{% endif %}>Date</option>
                <option value="{% url 'show-community' community.id %}?sort=likes" {% if sort == 'likes' %}selected{% endif %}>Number of Likes</option>
            </select>
        </div>
        <h2>{{ community }} Posts </h2>
        {% for posting in posts %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong class="h4">{{ posting.name }}</strong>
                        </div>
                        <div class="text-right">
                            <small>
                                Posted by: {{ posting.posted_by }}<br/>
                                Post Date: {{ posting.posting_date|date:"d.m.Y H:i" }}<br/>
                                Posted community: {{ posting.community }}<br/>
                                {% if posting.post_type %}
                                    Post Type: {{ posting.post_type.post_type_name }}
                                {% else %}
                                    Post Type: None
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Description:</strong>
                            <p>{{ posting.description }}</p>
                            <ul>
                                {% for field_name, field_value in posting.custom_fields.items %}
                                    {% if field_name != 'picture' %}
                                        <li><strong>{{ field_name }}:</strong> {{ field_value }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% if posting.custom_fields.picture %}
                            <div class="col-md-6">
                                <img src="{% get_media_prefix %}{{ posting.custom_fields.picture }}" alt="Picture" class="img-thumbnail" />
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <form action="{% url 'like_post' posting.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">{{ posting.total_likes }} Like</button>
                        </form>
                        <form action="{% url 'dislike_post' posting.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">{{ posting.total_dislikes }} Dislike</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
